<div class="root">
  <div class="container">
    <div class="left-content">
      <input (ngModelChange)="onNumberChange($event)" [ngModel]="inputNumber" />
    </div>
    <div class="center-content">
      <select [ngModel]="selected" (ngModelChange)="onChange($event)">
        <option value="isPrime">isPrime</option>
        <option value="fibonacci">fibonacci</option>
      </select>
    </div>
    <div class="right-content">
      <p *ngIf="selected === 'isPrime'">{{isPrimeValue}}</p>
      <p *ngIf="selected === 'fibonacci'">{{fibonacciNumber}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
